<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <ul>
          <li><a href="/ruta2">ruta2</a></li>
          <li><a href="/galeria">galeria</a></li>
          <li><a href="/mercado">mercado</a></li>
          <li><a href="/ruta5">ruta5</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>
